@import "../../styles/variables";

.container {
    height: auto;
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    padding: 30px;
    &__img {
        place-self: center;
        & img {
            width: 25rem;
            filter: drop-shadow(2px 4px 4px #585858);
        }
    }
    &__text {
        height: auto;
        &__top {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &__title {
                display: inline-flex;
                margin-bottom: 30px;
                border-bottom: 3px solid $color-primary;
                & h1 {
                    padding: 10px 15px;
                    font-size: 1.8rem;
                }
            }
        }
        p {
            width: 70%;
            line-height: 160%;
            text-align: justify;
            font-size: 1.1rem;
        }
    }
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/

@media screen and (max-width: 768px) {
    .container__img {
        & img {
            width: 23rem;
        }
    }

    .container__text {
        & p {
            width: 85%;
        }
    }
}

@media screen and (max-width: 414px) {
    .container {
        grid-template: 1fr / 1fr;
        padding: 30px 20px;
        &__img {
            place-self: center;
            & img {
                width: 18rem;
            }
        }
        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__top {
                margin-top: 25px;
                justify-content: center;
            }
        }
    }
}
