.container {
    height: auto;
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    padding: 30px;
    &__img {
        place-self: center;
        & img {
            width: 25rem;
            filter: drop-shadow(2px 4px 4px #585858);
        }
    }
    &__text {
        height: auto;
        text-align: justify;
        font-size: 1.1rem;
        & h1 {
            padding: 35px 15px;
            font-size: 1.8rem;
        }
        p {
            width: 70%;
            line-height: 160%;
        }
    }
}
