@import "../../styles/variables";

.burgerMenu {
    display: none;
}

@media screen and (max-width: 768px) {
    .burgerMenu {
        position: fixed;
        z-index: 5;
        top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        padding: 8px;
        background: $color-primary;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &:hover {
            color: $color-btn;
        }
        div {
            width: 2rem;
            height: 0.4rem;
            margin: 4px;
            background: $color-font;
            border-radius: 10px;
            transition: all 0.3s linear;
            position: relative;
            transform-origin: 1px;
        }
    }
}
