@import "../../styles/variables";
@import "../../styles/mixins";

.container {
    width: 100vw;
    height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-primary;
    background-color: $color-primary;
    & h1 {
        margin: 0 20px 50px 20px;
        color: $color-font;
        border-bottom: 2px solid $color-font;
    }
    &__form {
        width: 45%;
        display: flex;
        padding: 20px 0;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border-radius: 15px;
        background-color: $color-font;
        box-shadow: 1px 4px 10px $color-secundary;
        & label {
            padding: 15px 20px;
            font-weight: 500;
            font-size: 1.1rem;
        }
        & input {
            width: 40vw;
            height: 12%;
            margin: 0 15px;
            padding: 5px;
            box-shadow: 0 0 6px $color-secundary;
        }
        & textarea {
            width: 40vw;
            margin-top: 20px;
            margin: 15px;
            padding: 10px;
            font-size: 1rem;
            box-shadow: 0 0 6px $color-secundary;
        }
        &__btn {
            width: 100%;
            padding: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            & button {
                width: 6.5rem;
                height: 3rem;
                border-radius: 15px;
                border: none;
                font-size: 1rem;
                background-color: $color-btn;
                color: $color-font;
                cursor: pointer;
                &:hover {
                    @include btn-hover;
                }
            }
        }
    }
}
