@import "../../styles/variables.scss";

.footer {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: $color-primary;
    font-size: 1.2rem;
    &__menu {
        padding-bottom: 25px;
        border-bottom: 1px solid $color-secundary;
        ul {
            display: flex;
            & li {
                list-style: none;
                padding: 10px;
                & a {
                    color: $color-font;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    & span {
        margin-top: 15px;
        color: $color-secundary;
        font-size: 1rem;
    }
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/

@media screen and (min-width: 1920px) {
    .footer {
        height: 45vh;
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        height: 45vh;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        height: 26vh;
    }
}
@media screen and (max-width: 414px) {
    .footer {
        padding: 15px 0;
        height: auto;
        font-size: 0.9rem;
        &__menu {
            padding-bottom: 10px;
            & ul {
                font-size: 1rem;
            }
        }
    }
}
@media screen and (max-width: 375px) {
    .footer__menu {
        & ul {
            font-size: 0.9rem;
        }
    }
}
