@import "../../styles/variables";
@import "../../styles/mixins";

.hero {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    background-color: $color-primary;
    color: $color-font;

    &__titles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 10px 35px;
        text-transform: uppercase;
        & span {
            font-size: 1.6rem;
            color: $color-btn;
            font-weight: bold;
        }
        p {
            font-size: 1.6rem;
        }
        & h1 {
            padding-top: 5px;
            font-size: 2.8rem;
        }
        & h2 {
            padding-top: 5px;
            font-size: 1.1rem;
            text-transform: none;
        }
    }
    &__img {
        justify-self: start;
        & img {
            width: 35rem;
            border-radius: 30%;
            filter: drop-shadow(2px 4px 4px #585858);
        }
    }
}
