@import "../../styles/variables";
@import "../../styles/mixins";

.container {
    width: 100vw;
    height: auto;
    padding: 30px;
    color: $color-font;
    background-color: $color-primary;
    opacity: 0;
    @include fadeIn-animation;
    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
        &__title {
            display: inline-flex;
            margin-bottom: 30px;
            border-bottom: 3px solid $color-font;
            & h1 {
                padding: 15px 15px;
                font-size: 1.8rem;
            }
        }
    }
    &__items {
        display: grid;
        grid-template: auto / repeat(3, 1fr);
        grid-row-gap: 35px;
        padding: 15px;
        &__card {
            place-self: center;
            border-radius: 20px;
            font-size: 0.9rem;
            background-image: url("/images/tech-deal-capture.png");
            background-size: cover;
            box-shadow: 0px 4px 10px $color-secundary;
            border: none;
            &__titles {
                width: 300px;
                height: 300px;
                padding: 30px 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                color: $color-font;
                opacity: 0;
                transition: 250ms all;
                & a {
                    width: 140px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 25px;
                    padding: 15px;
                    font-size: 1.1rem;
                    background-color: $color-btn;
                    color: $color-font;
                    text-decoration: none;
                    &:hover {
                        @include btn-hover;
                    }
                }
                &:hover {
                    opacity: 1;
                    box-shadow: 4px 4px 20px $color-secundary;
                    background-color: rgba($color-primary, 0.9);
                    border-radius: 20px;
                }
            }
        }
        &__card2 {
            place-self: center;
            border-radius: 20px;
            font-size: 0.9rem;
            background-image: url("/images/letscook-capture.jpg");
            background-size: cover;
            box-shadow: 0px 4px 10px $color-secundary;
            border: none;
            &__titles {
                width: 300px;
                height: 300px;
                padding: 30px 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                color: $color-font;
                opacity: 0;
                transition: 250ms all;
                & a {
                    width: 140px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 25px;
                    padding: 15px;
                    font-size: 1.1rem;
                    background-color: $color-btn;
                    color: $color-font;
                    text-decoration: none;
                    &:hover {
                        @include btn-hover;
                    }
                }
                &:hover {
                    opacity: 1;
                    box-shadow: 4px 4px 20px $color-secundary;
                    background-color: rgba($color-primary, 0.9);
                    border-radius: 20px;
                }
            }
        }
        &__card3 {
            place-self: center;
            border-radius: 20px;
            font-size: 0.9rem;
            background-image: url("/images/portfolio-capture.png");
            background-size: cover;
            box-shadow: 0px 4px 10px $color-secundary;
            border: none;
            &__titles {
                width: 300px;
                height: 300px;
                padding: 30px 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                color: $color-font;
                opacity: 0;
                transition: 250ms all;
                & a {
                    width: 140px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 25px;
                    padding: 15px;
                    font-size: 1.1rem;
                    background-color: $color-btn;
                    color: $color-font;
                    text-decoration: none;
                    &:hover {
                        @include btn-hover;
                    }
                }
                &:hover {
                    opacity: 1;
                    box-shadow: 4px 4px 20px $color-secundary;
                    background-color: rgba($color-primary, 0.9);
                    border-radius: 20px;
                }
            }
        }
        &__card4 {
            place-self: center;
            border-radius: 20px;
            font-size: 0.9rem;
            background-image: url("/images/favorities-capture.png");
            background-size: cover;
            box-shadow: 0px 4px 10px $color-secundary;
            border: none;
            &__titles {
                width: 300px;
                height: 300px;
                padding: 30px 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                color: $color-font;
                opacity: 0;
                transition: 250ms all;
                & a {
                    width: 140px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 25px;
                    padding: 15px;
                    font-size: 1.1rem;
                    background-color: $color-btn;
                    color: $color-font;
                    text-decoration: none;
                    &:hover {
                        @include btn-hover;
                    }
                }
                &:hover {
                    opacity: 1;
                    box-shadow: 4px 4px 20px $color-secundary;
                    background-color: rgba($color-primary, 0.9);
                    border-radius: 20px;
                }
            }
        }
    }
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/

@media screen and (max-width: 768px) {
    .container {
        &__items {
            grid-template: auto / repeat(2, 1fr);
            grid-row-gap: 30px;
        }
    }
}

@media screen and (max-width: 414px) {
    .container {
        &__items {
            grid-template: auto / 1fr;
        }
    }
}

@media screen and (max-width: 360px) {
    .container {
        &__items {
            padding: 0px;
        }
    }
}
