@import "../../styles/variables";

.container {
    width: 100%;
    padding: 30px;
    font-size: 1.1rem;
    color: $color-primary;
    &__top {
        display: flex;
        justify-content: center;
        align-items: center;

        &__title {
            display: inline-flex;
            margin-bottom: 30px;
            border-bottom: 3px solid $color-primary;
            & h1 {
                padding: 15px 15px;
                font-size: 1.8rem;
            }
        }
    }
    &__items {
        width: 100%;
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        grid-row-gap: 15px;
        padding: 20px;
        &__jobs {
            width: 85%;
            place-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            box-shadow: 0 2px 9px $color-secundary;
            border-radius: 20px;
            transition: 250ms all;
            &:hover {
                box-shadow: 1px 4px 19px $color-secundary;
                p {
                    opacity: 1;
                }
                & img {
                    filter: drop-shadow(2px 4px 4px #585858);
                }
            }
            & p {
                opacity: 0.7;
            }
            &__icons {
                margin: 10px;
                & img {
                    width: 4rem;
                    margin: 20px;
                }
            }
        }
    }
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/

@media screen and (max-width: 768px) {
    .container__items {
        grid-row-gap: 20px;
        &__jobs {
            flex-direction: column;
            height: 100%;
        }
    }
}
