@import "../../styles/variables";

.container {
    width: 100%;
    padding: 30px;
    font-size: 1.1rem;
    color: $color-primary;
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        & h1 {
            padding: 35px 15px 30px 15px;
            font-size: 1.8rem;
        }
    }
    &__items {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        grid-row-gap: 15px;
        padding: 20px;
        &__jobs {
            width: 95%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            overflow: visible;
            box-shadow: 0 2px 9px $color-secundary;
            border-radius: 20px;
            transition: 250ms all;
            &:hover {
                box-shadow: 1px 4px 19px $color-secundary;
                p {
                    opacity: 1;
                }
                & img {
                    filter: drop-shadow(2px 4px 4px #585858);
                }
            }
            & p {
                opacity: 0.7;
            }
            &__icons {
                margin: 10px;
                & img {
                    width: 4rem;
                    margin: 20px;
                }
            }
        }
    }
}
